<button (click)="initNewEmployee()">Add new Employee</button>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>SurName</th>
    <th>BirthDate</th>
    <th>Phone</th>
    <th>Position</th>
  </thead>
   <tr *ngFor="let employee of employees.data">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.surName}}</td>
    <td>{{(employee.birthDate) | date:'yyyy-MM-dd'}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.position}}</td> 
    <td>{{employees.success}}</td>
    <td>{{employees.message}}</td>
    <td><button (click)="editEmployee(employee)">Edit</button></td>
    </tr>
    <td>{{employees.success}}</td>
    <td>{{employees.message}}</td> 
</table>

<app-edit-employee [employee]="employeeToEdit" (employeesUpdated)="updateEmployeeList($event)"></app-edit-employee>