
<div class="table">
  <input id="search" type="text" name="search" [(ngModel)]="enteredSearchValue" placeholder="Search employee" (input)="onSearchTextChanged()">
    <table>
      <thead class="tableHeader">
        <th class="idHeader">ID<button (click)="ngOnInit()"><img src="assets/sorting.jpg" width="15" height="15"></button></th>
        <th class="nameHeader">Name</th>
        <th class="surnameHeader">SurName<button (click)="sortSurname()"><img src="assets/sorting.jpg" width="15" height="15"></button></th>
        <th class="birthdateHeader">BirthDate<button (click)="sortBirthDate()"><img src="assets/sorting.jpg" width="15" height="15"></button></th>
        <th class="phoneHeader">Phone</th>
        <th class="positionHeader">Position</th>
      </thead>
       <tr class="tablemain" *ngFor="let employee of employees.data">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.surName}}</td>
        <td>{{(employee.birthDate) | date:'yyyy-MM-dd'}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.position}}</td> 
        <a [routerLink]="['/editEmployee',employee.id]">View</a>
        </tr>
    </table>
    {{employees.success}}
    {{employees.message}}
    </div>