.tableHeader{
    text-align: left;
    background-color: lightgray;
    padding: 5px 5px 5px 5px;
}
th{
border: 2px solid darkgray;
}
.idHeader{
    min-width: 30px;
}
.nameHeader{
    min-width: 100px;
}
.surnameHeader{
    min-width: 150px;
}
.birthdateHeader{
    min-width: 100px;
}
.phoneHeader{
    min-width: 120px;
}
.positionHeader{
    min-width: 100px;
}
.tablemain td{
    border-top:2px solid black;
    border-right: 2px solid darkgrey;
    border-left: 2px solid darkgrey;
    padding: 5px 5px 5px 5px;
}
table {
    padding: 0;
    width: 100%;
    border: 1px solid black;
  }