<div *ngIf="employee">
    <h2>{{employee.name}}</h2>
    <div>
        Name:
        <input [(ngModel)]="employee.name" placeholder="Name"/>
    </div>
    <div>
        SurName:
        <input [(ngModel)]="employee.surName" placeholder="SurName"/>
    </div>
    <div>
        BirthDate:
        <input [(ngModel)]="employee.birthDate" placeholder="BirthDate"/>
    </div>
    <div>
        Phone:
        <input [(ngModel)]="employee.phone" placeholder="Phone"/>
    </div>
    <div>
        Position:
        <input [(ngModel)]="employee.position" placeholder="Position"/>
    </div>
    <button (click)="updateEmployee(employee)" *ngIf="employee.id">Save</button>
    <button (click)="deleteEmployee(employee)" *ngIf="employee.id">Delete</button>
</div>